*.elf
*.nro
*.pfs0
*.nacp
*.nso
build/*
.DS_Store
*node_modules
SkyNX-Streamer/NxStreamingService/NxStreamingService.exe
SkyNX-Streamer/SkyNXStreamer-win32-x64
SkyNX-Streamer/SkyNXStreamer-win32-x64.zip
SkyNX-Streamer/SkyNXStreamer-win32-ia32
SkyNX-Streamer/SkyNXStreamer-win32-ia32.zip
SkyNX/source
SkyNX/SkyNX.zip
SkyNX-Streamer/settings.json
