#main {
    padding: 0px;
}
#settings {
    padding: 8px;
}
label {
    padding-left: 6px;
    color: white;
}
h2 {
    padding-left: 12px;
    color: white;
}
#consoleContainer {
    height: calc(100% - 25px);
    width: 100%;
    background: rgba(0,0,0,0.1);
    overflow-y:auto;
    font-size: 10px;
    padding-left: 6px;
    color: white;
}
#consoleInput:focus {
    outline: none;
}
#consoleInput{
    height: 25px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    padding-left: 6px;
    border: none;
    color: rgb(185, 185, 185);
}
#consoleInput:focus {
    outline: none;
}

.chartpanel{
    margin: 8px;
    padding: 8px;
    background: rgba(39, 39, 39, 0.9);
    border-radius: 6px;
    overflow: hidden;
    color: white;
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.7);
}
.chartTitle{
    margin-left: 8px;
}
.comment {
    font-size: 10px;
    color: rgba(126, 126, 126, 0.8) ;
}
hr {
    margin-top: 3px;
    margin-bottom: 8px;
    border: 0;
    border-top: 3px solid rgba(100, 100, 100, 0.8);
  }
.statusBarBtn {
    margin: 2px;
    margin-right: 6px;
    padding: 2px;
    font-size: 10px;
    height: auto;
}